<h1>StaticPages#landing_page</h1>
<%= link_to "Privacy Policy", privacy_policy_path %>

hoge
<span class="badge badge-secondary">Thanks Yaro! It works</span>
<span class="badge badge-secondary">Thanks Yaro! It works!</span> 