- content_for :title do
  Coursego
  \|
  Analyticss

%h3
  Enrollments: 
  = area_chart charts_enrollments_per_day_path

  Courses:
  = area_chart charts_courses_per_day_path

  Users: 
  = line_chart charts_users_per_day_path