- content_for :title do
  Ruby Gems Bootcamp
  \|
  Analytics

%h3
  Enrollments: 
  = bar_chart charts_enrollments_per_day_path

  -# Courses:
  -# = area_chart charts_courses_per_day_path
  Courses Popularity:
  = column_chart charts_course_popularity_path

  Users: 
  = line_chart charts_users_per_day_path

  Most Paid Courses:
  = bar_chart charts_money_makers_path
