-# = simple_form_for(@course, url: wizard_path) do |f|
-#     = f.error_notification
-#     = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

-#     .form-inputs.field
-#       = f.input :title
-#       = f.label :avatar
-#       - if @course.avatar.attached?
-#         .row
-#           = image_tag @course.avatar
-#       .row
-#       = f.file_field :avatar
-#       -# = f.input :avatar, as: :file
-#       -# = f.input :avatar
-#       %small= f.error :avatar, class: 'text-danger'
-#       .row
-#       -# = f.label :description
-#       -# = f.rich_text_area :description
-#       -# %small= f.error :description, class: 'text-danger'
-#       = f.input :description, as: :rich_text_area
-#       = f.input :short_description
-#     .form-actions
-#       = f.button :submit, class: 'btn btn-sm btn-primary'

-# - if @course.errors.any?
-#   :javascript
-#     $(document).ready(function() {
-#       console.log("hoge____")
-#       history.pushState('', '', location.href + '/new')
-#     });
= render "template"