- content_for :title do
  Coursego
  \|
  Enrollments
  \|
  Edit Enrollment:
  =@enrollment.to_s

// %h1 Editing enrollment

// = render 'form'

// = link_to 'Show', @enrollment
// \|
// = link_to 'Back', enrollments_path

.card
  .card-header
    .far.fa-edit-square
    Edit Enrollment
  .card-body
    = render 'enrollments/form'
  .card-footer
    = link_to 'Edit', edit_enrollment_path(@enrollment)
    \|
    = link_to 'Back', enrollments_path
