.card
  .card-header
    New Enrollment
  .card-body
    = render 'enrollments/form'
  .card-footer
    = link_to 'Back', enrollments_path

// %h1 New enrollment

// = render 'form'

// = link_to 'Back', enrollments_path
