=link_to "Courses", courses_path
\/
=link_to @course.title, course_path(@course)
\/
Edit Lesson
%hr

.card
  .card-header
    %h3
      .far.fa-edit
      Edit lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', [@course, @lesson], class: 'btn btn-sm'