.card
  .card-header
    %h1 New lesson
  .card-body  
    = render 'form'
  // .br
  //   %br
  //     :css
  //       .br {
  //         line-height: 50%;
  //       }
  .card-footer  
    = link_to 'Back', @course, class: 'btn btn-sm btn-link'
