.nested-fields.d-flex.align-items-center.mb-1.me-1
  = f.input :name, :placeholder => 'how should it be tagged', :label => false
  -# .ms-1
  -#   = link_to_remove_association f, class: 'badge bg-warning text-dark' do
  -#     .fas.fa-times
