-#%h1
  Courses:
  = @courses.count
%h3
  .text-center
    Courses:
    .badge.bg-info
      = @courses.count
%p
  
.row.row-cols-1.row-cols-md-3.g-4
  - @courses.each do |course|
    .col-md-4
      = render 'courses/course', course: course
      %p

%br