%hr
-# %footer
.container
  .row
    .col-md-4
      Copyright
      ©
      = Time.now.year
      CoursePlatform Sp. z o.o.
      .row
      .fa.fa-envelope
      = mail_to 'yoshi19920807@gmail.com'
      .row
    .col-md-4
      = link_to "Privacy policy", home_privacy_policy_path
      .row
      Careers
      .row
      Help and Support
      .row
      Blog
      .row
      Terms and conditions
    .col-md-4
      About us
      .row
        = link_to 'Teach on CoursePlatform', new_course_path
%b